.Card_Confirm {
    border: 1px solid #842029 !important;
    .Header_Confirmed {
        background-color: #e9061738 !important;
    }
}

.Card_Recovered {
    border: 1px solid #169307 !important;
    .Header_Recovered {
        background-color: #73e55782 !important;
    }
}
.Card_Deaths {
    border: 1px solid #000000 !important;
}
